.container {
    margin-top: 4em;

    nav {
        
        .navContainer {
            // background-color: rgba(255,255,255,0.1);
            // backdrop-filter:blur(22px);
            // border: 2px solid transparent;
            // background-clip: padding-box;
            border-radius: 6px;
            // box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
            

            a {
                font-size: 1.3em;
                font-weight: 700;
                letter-spacing: 0.1em;
                color: #000000;
                text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
                            0px -4px 10px rgba(255,255,255,0.3);
                cursor: pointer;

                span {
                    margin: 0 0.1em;
                    font-weight: 300;
                }

                button {
                    border: none;
                    outline: none;
                    background: #e7e7de;
                    border-radius: 50%;
                    padding: 0.3em;
                    margin: 0 0.3em;
                    font-weight: 800;
                }
            }

            div {
                

                ul {
                    

                    li {
                        margin: 0 1em;
                        border: 1px solid #7b7b781c;
                        font-weight: 900;
                        transition: all 150ms linear;
                        border-radius: 6px;

                        a {
                            font-size: 1.2em;
                            text-shadow: none;
                            font-weight: 500;
                            letter-spacing: 0;
                        }

                        &:hover {
                            border: 1px solid rgba(0, 0, 0, 0.05);
                            box-shadow: 1px 1px 2px rgb(107 255 47 / 20%);
                            transition: all 250ms linear;
                        }
                    }
                }
            }
        }
    }
}